.movie_card {
  width: 40vw;
  height: 60vw;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
}

.movie_card_lables {
  width: 77px;
  height: 19px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 10px 5px;
  gap: 10px;
  background: #141414;
  border-radius: 0px 0px 14px 14px;
}

.movie_card_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  text-align: center;
}

.movie_card_info h2 {
  font-size: 16px;
  margin: 2px;
}

.movie_card_info h3 {
  color: #FF5C00;
  margin: 2px;
}

.movie_card_info h4 {
  color: #707070;
  font-size: 12px;
  text-decoration: line-through;
  margin: 2px;
}

@media (min-width: 760px) {
  .movie_card {
    width: 25vw;
    height: 40vw;
  }
}

@media (min-width: 1080px) {
  .movie_card {
    width: 17vw;
    height: 27vw;
  }
}

@media (min-width: 1440px) {
  .movie_card {
    width: 12vw;
    height: 19vw;
  }
}