.movie_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 24px;
  gap: 24px;
}

@media (min-width: 760px) {
  .movie_cards {
  }
}

@media (min-width: 1080px) {
  .movie_cards {
  }
}