.movie_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 16px;
  column-gap: 23px;
  padding-left: 16px;
}

@media (min-width: 760px) {
  .movie_cards {
  }
}

@media (min-width: 1440px) {
  .movie_cards {
  }
}