.filter_container {
  flex-direction: column;
  align-items: center;
  max-width: 760px;
  background: #262626;
  padding: 0 38px;
}

.filter_container_price {
  padding: 24px 0;
}

.filter_container_button_apply {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 15px;
  gap: 10px;
  border-radius: 40px;
  width: 248px;
  height: 41px;
  color: #ffffff;
  font-size: 18px;
  border: none;
  margin: 24px auto;
}

.filter_container_button_reset {
  color: #707070;
  font-size: 18px;
  display: flex;
  align-items: center;
  border: none;
  background: #262626;
  margin: 24px auto;
}

@media (min-width: 760px) {
  .filter_container {
  }
}

@media (min-width: 1440px) {
  .filter_container {
    width: 266px;
    background: #141414;
    padding: 0;
  }

  .filter_container_button_reset {
    background: #141414;
  }

  .filter_container_price_inputs input {
    background: #141414;
  }
}
