.catalog {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.catalog_header_path {
  display: flex;
  flex-direction: row;
  padding: 16px 0 24px 0;
}

.catalog_p {
  margin: 0;
}

.catalog_h2 {
  margin: 0;
}

.catalog_h4 {
  margin: 0;
}
.catalog_header_path img {
  margin: 5px;
}

.catalog_header_filter {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.catalog_header_filter_text {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.catalog_header_filter_text h4 {
  color: #FF5C00;
}

.catalog_header_filter_button {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.catalog_header_filter_button button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 15px;
  margin: 32px 0;
  gap: 10px;
  width: 313px;
  height: 44px;
  border: 2px solid #FFFFFF;
  border-radius: 40px;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 16px;
  font-family: 'Grato Grotesk';
}

.catalog_main {
  display: flex;
  flex-direction: row;
}

@media (min-width: 760px) {
  .catalog {
    padding: 0 5%;
  }

  .catalog_header_path {
    padding: 24px 0;
  }

  .catalog_header_filter {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 80px;
  }

  .catalog_header_filter_button button {
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .catalog {
    padding: 0 10%;
  }

  .catalog_header_filter {
    padding-bottom: 40px;
  }

  .catalog_header_filter_button {
    display: none;
    padding: 0 200px;
  }
}