.filter_container_left_panel {
    display: none;
}

@media (min-width: 760px) {
    .filter_container_left_panel {
      display: none;
    }
  }
  
  @media (min-width: 1440px) {
    .filter_container_left_panel {
      display: flex;
    }
  }