.filter_container_all_page {
  display: flex;
  flex-direction: column;
}

.filter_container_hide {
  height: 94px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  background-color: #333333;
  align-items: center;
  padding: 0 38px;
}

.filter_container_hide p {
  margin: 0 9px;
}

@media (min-width: 760px) {
  .filter_container_all_page {
    display: flex;
  }
}

@media (min-width: 1440px) {
  .filter_container_all_page {
    display: none;
  }
}