.services_cards {
  display: flex;
  flex-direction: column;
  padding: 64px 0;
  align-items: center;
}

@media (min-width: 760px) {
  .services_cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    grid-template-rows: 140px 326px;
    grid-column-gap: 130px;
    grid-row-gap: 60px;
    justify-items:center;
    align-items: stretch;
    margin-left: 15%;
  }
}

@media (min-width: 1440px) {
  .services_cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-left: 0;
    grid-column-gap: 0;
  }
}